--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.5.1+cu118
torchvision==0.20.1+cu118
torchaudio==2.5.1+cu118
transformers==4.47.0
accelerate==1.2.0
peft==0.14.0
wandb==0.19.1
tqdm==4.67.1
numpy==1.26.3
datasets==3.2.0
evaluate==0.4.3
safetensors==0.4.5
sentencepiece==0.2.0
tokenizers==0.21.0